<robot name="lbr_iiwa" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Import Rviz colors -->
  <material name="Grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="Orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
  </material>
  <material name="Blue">
    <color rgba="0.5 0.7 1.0 1.0"/>
  </material>
  <material name="Red">
    <color rgba="0.8 0 0 1"/>
  </material>
  <link name="link_0">
  </link>
  <link name="link_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <!--Increase mass from 5 Kg original to provide a stable base to carry the
          arm.-->
      <mass value="50.0"/>
      <inertia ixx="5" ixy="0" ixz="0" iyy="6" iyz="0" izz="3"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="table.obj"/>
      </geometry>
      <material name="Grey"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="table.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- joint between link_0 and link_1 -->
  <joint name="joint_1" type="fixed">
    <parent link="link_0"/>
    <child link="link_1"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>
</robot>

